line-length = 100
indent-width = 4
output-format = "text"

select = ["E", "F", "Q", "I", "ANN", "ASYNC", "W", "S", "A"]

ignore = [
    "A",         # flake8-builtins https://beta.ruff.rs/docs/settings/#flake8-builtins
    "ANN101",    # missing-type-self https://beta.ruff.rs/docs/rules/missing-type-self/
    "ANN102",    # missing-type-cls https://beta.ruff.rs/docs/rules/missing-type-cls/
    "ANN401",    # any-type https://beta.ruff.rs/docs/rules/any-type/
    # "ANN204",    # missing-return-type https://beta.ruff.rs/docs/rules/missing-return-type/
    # "E402",      # module-import-not-at-top-of-file https://beta.ruff.rs/docs/rules/module-import-not-at-top-of-file/
    # "F401"       # unused-import https://beta.ruff.rs/docs/rules/unused-import/
]

extend-exclude = [
    ".patches"
]


# [format]
# preserve is not supported yet, but there's a PR in the works
# quote-style = "preservev"


[flake8-quotes]
docstring-quotes = "double"
inline-quotes = "single"
multiline-quotes = "single"


[flake8-annotations]
mypy-init-return = true


[extend-per-file-ignores]
# ignore in tests:
#    S101 (use of assert)
#    ANN201 (missing type annotation)
#    E701 (multiple statements on one line)
#    F401 (unused import)
"**/**/test/*.py" =  ["S101", "ANN201", "E701"]
"**/**/tests/*.py" = ["S101", "ANN201", "E701"]
"**/**/test_*.py" =  ["S101", "ANN201", "E701"]
# "__init__.py" = ["F401"]
